body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .converter {
    text-align: center;
    padding: 20px;
    border: 1px solid #9e3805;
    border-radius: 5px;
    box-shadow: 0 5px 7px rgba(144, 14, 7, 0.1);
  }
  
  button {
    padding: 8px 20px;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  